/*头部LOGO部分*/
.header{
    height: 56px;
    width: 100%;
    min-width: 1350px;
    .header-content{
        height: 35px;
        width: 1000px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;
        position: relative;
    }
}

/*顶部一级菜单*/
.navbar-menu{    
    height: 76px;
    font-size: 18px;
    width: 100%;
    min-width: 1350px;
    .nav{        
        width: 1000px;
        margin: 0 auto;
        left: 0px;
        a{
            text-align: center;
            color: #fff;
            font-size: 18px;
            line-height: 72px;
            padding: 45px;
            margin: auto;
        }
    }
}

/*左边菜单及内容大框架*/
.fram{        
    font-size: 18px;
    width: 100%;
    min-width: 1350px;
    .fram-content{
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        .fram-navleft{
            width: 260px;
            min-height: 500px;
            float: left;
            padding-top: 20px;
        }
        .page-content{
            min-height: 500px;
            float: left;
            padding-top: 40px;
            width: 690px;
        }
    }
}

.footer{    
    height: 80px;
    width: 100%;
    min-width: 1350px;
    .footer-content{        
        clear: both;
        width: 1000px;
        height: 62px;
        margin: 0 auto;
        padding-top: 18px;
        font-size: 14px;
    }
}